/SD-v2/Sockets01_Client/target/
/SD-v2/Sockets02_Receiver_UDP/target/
/SD-v2/Sockets02_Sender_UDP/target/
/SD-v2/Sockets03_Receiver_UDP_Multicast/target/
/SD-v3/Urna/target/
/SD-v3/Eleitor/target/
/SD-v2/Sockets03_Sender_UDP_Multicast/target/
